nodes/Doppler/workflow.json
{"meta":{"templateCredsSetupCompleted":true,"instanceId":"22609fc372c5d66ca60923fa7d4ac60578ecd12c43b5a2591ffc6d111ad3b52d"},"nodes":[{"parameters":{"url":"={{ $node[\"avatar\"].json[\"query\"][\"image\"] }}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"file","outputPropertyName":"data_source"}}}},"id":"22acbd30-94c9-480c-b238-047e9ebf1da2","name":"Download image file","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1520,20]},{"parameters":{"operation":"create","dataPropertyName":"data_overlay","backgroundColor":"#ffffffff","width":"={{ $('Define image size').first().json.diameter }}","height":"={{ $node[\"Define image size\"].json[\"diameter\"] }}","options":{"format":"png"}},"id":"a4ca6e45-89a5-4b53-996d-49caa505631b","name":"Create transparent image","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1520,-180]},{"parameters":{"fields":{"values":[{"name":"diameter","type":"numberValue","numberValue":"280"}]},"options":{}},"id":"39af7793-211b-489b-9a72-6dfecdb24349","name":"Define image size","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[1300,-80]},{"parameters":{"operation":"draw","dataPropertyName":"data_overlay","color":"#1C9985","startPositionX":0,"startPositionY":0,"endPositionX":"={{ $('Define image size').first().json.diameter }}","endPositionY":"={{ $('Define image size').first().json.diameter }}","cornerRadius":"={{ $('Define image size').first().json.diameter / 2 }}","options":{"format":"png"}},"id":"4145a072-6ce8-483b-9712-1b9e4f34bbe8","name":"Create circle","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1740,-180]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"79656547-3055-4ea0-ab63-c1c10c9e490d","name":"Merge source and overlay","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1960,-80]},{"parameters":{"operation":"resize","dataPropertyName":"data_source","width":"={{ $('Define image size').first().json.diameter }}","height":"={{ $('Define image size').first().json.diameter }}","resizeOption":"minimumArea","options":{"format":"png"}},"id":"618da6d3-2981-424d-83ad-ead8395c6c14","name":"Resize source","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1740,20]},{"parameters":{"operation":"composite","dataPropertyName":"data_overlay","dataPropertyNameComposite":"data_source","operator":"Atop","options":{}},"id":"336c7d8e-f61d-400a-824f-9fcb2e0ca481","name":"Create result","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[2140,-80]},{"parameters":{"respondWith":"binary","responseDataSource":"set","inputFieldName":"ingresso","options":{}},"id":"e2f697cd-4cc7-4569-81f9-37fd0d8e7d59","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2780,-80]},{"parameters":{"path":"ingresso","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"8080c711-3103-4866-be5c-555236d55acf","name":"avatar","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[1100,-80],"webhookId":"5e869e0b-db5d-447f-93e1-9c60cc557835"},{"parameters":{"operation":"multiStep","dataPropertyName":"ingresso","operations":{"operations":[{"operation":"composite","dataPropertyNameComposite":"data_overlay","positionX":401,"positionY":552},{"operation":"text","text":"={{ $node[\"avatar\"].json[\"query\"][\"name\"] }}","fontSize":28,"fontColor":"#FFFFFF","positionX":465,"positionY":880,"font":"/usr/share/fonts/truetype/msttcorefonts/Impact.ttf"}]},"options":{}},"id":"511f6b07-a9e6-41c7-a7b2-703db136328c","name":"Composite","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[2560,-80]},{"parameters":{"url":"https://desafiogoldmakers.com.br/wp-content/uploads/2024/10/INGRESSO.png","options":{"response":{"response":{"fullResponse":true,"responseFormat":"file","outputPropertyName":"ingresso"}}}},"id":"41b1b739-b20f-45d9-adc4-bd14da04c515","name":"Download Banner","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2360,-80]}],"connections":{"Download image file":{"main":[[{"node":"Resize source","type":"main","index":0}]]},"Create transparent image":{"main":[[{"node":"Create circle","type":"main","index":0}]]},"Define image size":{"main":[[{"node":"Create transparent image","type":"main","index":0},{"node":"Download image file","type":"main","index":0}]]},"Create circle":{"main":[[{"node":"Merge source and overlay","type":"main","index":0}]]},"Merge source and overlay":{"main":[[{"node":"Create result","type":"main","index":0}]]},"Resize source":{"main":[[{"node":"Merge source and overlay","type":"main","index":1}]]},"Create result":{"main":[[{"node":"Download Banner","type":"main","index":0}]]},"avatar":{"main":[[{"node":"Define image size","type":"main","index":0}]]},"Composite":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Download Banner":{"main":[[{"node":"Composite","type":"main","index":0}]]}},"pinData":{"avatar":[{"headers":{"host":"n8n2webhookautomagicbots.automagicbots.com.br","user-agent":"GuzzleHttp/7","x-forwarded-for":"54.93.95.69","x-forwarded-host":"n8n2webhookautomagicbots.automagicbots.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"61f25d337cc6","x-real-ip":"54.93.95.69","accept-encoding":"gzip"},"params":{},"query":{"image":"https://manychat.com/ava/1152717/47886858/26bbdc1dd44988d852e3e93878f11a16","name":"leti_piazzetta"},"body":{}}]}}
